* {
    box-sizing: border-box;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #020617;
    background: url("https://images.unsplash.com/photo-1502602898657-3e91760cbb34") no-repeat center/cover;
}


.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 0;
}

.app-card {
    position: relative;
    z-index: 1;
    width: 380px;
    padding: 30px;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    text-align: center;
    animation: cardEnter 0.7s ease forwards;
}

.app-card:hover {
    transform: translateY(-6px) scale(1.0);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
}

.app-card h1 {
    font-size: 28px;
    font-weight: 800;
    color: #00000b;
    letter-spacing: 0.4px;
}

.subtitle {
    margin: 6px 0 22px;
    font-size: 14px;
    color: #00000b;
}

.app-card input {
    width: 100%;
    padding: 14px 16px;
    border: 2px solid #00000b;
    border-radius: 14px;
    outline: none;
    font-size: 15px;
    margin-bottom: 14px;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    color: #00000b;
    background-color: #fcfcfd;
}

.app-card input:focus {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.app-card button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    background: linear-gradient(135deg, #000304, #000803);
    color: #fcfcfd;
    border: 2px solid #e6eefb;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 18px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.app-card button:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.country-card {
    margin-top: 10px;
    text-align: left;

}

.country-flag {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 14px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.title {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0.3px;
    color: #fcfcfd;
}

.muted {
    font-size: 14px;
    color: #000006;
    margin-bottom: 16px;
}

.country-card p {
    margin: 10px 0;
    padding: 12px 14px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #fcfcfd;
    border-radius: 14px;
    background: linear-gradient(135deg, rgba(2, 6, 23, 0.04), rgba(2, 6, 23, 0.02));
}

.country-card p b {
    font-weight: 700;
}

.error {
    color: #faf7f7;
    font-weight: 600;
    text-align: center;
    margin-left: 100px;
}